/*  * {
          box-sizing: inherit;
        }*/

        .pn-ProductNav_WrapperCG {
          position: relative;
        /*  padding: 0 2.6em 0 3em;*/
          box-sizing: border-box;
/*          margin-right:3em;
*/
        }

        .pn-ProductNavCG {
          /* Make this scrollable when needed */
          overflow-x: auto;
          /* We don't want vertical scrolling */
          overflow-y: hidden;
          /* For WebKit implementations, provide inertia scrolling */
          -webkit-overflow-scrolling: touch;
          /* We don't want internal inline elements to wrap */
          white-space: nowrap;
          /* If JS present, let's hide the default scrollbar */
          /* positioning context for advancers */
          position: relative;
          
          font-size: 0;
          margin-left: 7%;
          margin-right: 7%;
        }
        .js .pn-ProductNavCG {
          /* Make an auto-hiding scroller for the 3 people using a IE */
          -ms-overflow-style: -ms-autohiding-scrollbar;

          /* Remove the default scrollbar for WebKit implementations */
        }
        .js .pn-ProductNavCG::-webkit-scrollbar {
          display: none;
        }
        .js .pn-ProductNavCG::-webkit-moz-scrollbar {
          display: none;
          overflow: auto;
        }

        .pn-ProductNav_ContentsCG {
          float: left;
          -webkit-transition: -webkit-transform .2s ease-in-out;
          transition: -webkit-transform .2s ease-in-out;
          transition: transform .2s ease-in-out;
          transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
          position: relative;
        }

        .pn-ProductNav_Contents-no-transitionCG {
          -webkit-transition: none;
          transition: none;
        }

        .pn-ProductNav_LinkCG {
          text-decoration: none;
          color: #888;
          font-size: 1.2rem;
          font-family: -apple-system, sans-serif;
          display: -webkit-inline-box;
          display: -ms-inline-flexbox;
          display: inline-flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          min-height: 44px;
          border: 1px solid transparent;
          padding: 0 0.3em 0 0;

        }
        .pn-ProductNav_LinkCG + .pn-ProductNav_LinkCG {
          /*border-left-color: #eee;*/
        }
        .pn-ProductNav_LinkCG[aria-selected="true"] {
          color: #111;
        }

        .pn-AdvancerCG {
          /* Reset the button */
          -webkit-appearance: none;
             -moz-appearance: none;
                  appearance: none;
          background: transparent;
          padding: 0;
          border: 0;
          /* Now style it as needed */
          position: absolute;
          top: 30%;
          bottom: 70%;
          /* Set the buttons invisible by default */
          opacity: 0;
          -webkit-transition: opacity .3s;
          transition: opacity .3s;
        }
        .pn-AdvancerCG:focus {
          outline: 0;
        }
        .pn-AdvancerCG:hover {
          cursor: pointer;
          background: transparent;
        }

        .pn-Advancer_LeftCG {
          left: -0.5em;

          /*bottom:0;*/
         /* margin-left:-2%;
       */ }
        [data-overflowing="both"] ~ .pn-Advancer_LeftCG, [data-overflowing="left"] ~ .pn-Advancer_LeftCG {
          opacity: 1;
        }

        .pn-Advancer_RightCG {
/*          right: 0;
*/          right: 3.5em;
/*          bottom:0;
*/         /* margin-right:-1.9em;*/

        }
        [data-overflowing="both"] ~ .pn-Advancer_RightCG, [data-overflowing="right"] ~ .pn-Advancer_RightCG {
          opacity: 1;
        }

        .pn-Advancer_IconCG {
          width: 20px;
          height: 44px;
          fill: #bbb;
        }

        .pn-ProductNav_IndicatorCG {
          position: absolute;
          bottom: 0;
          left: 0;
          height: 4px;
          width: 100px;
          right:50px;
          background-color: transparent;
          -webkit-transform-origin: 0 0;
                  transform-origin: 0 0;
          -webkit-transition: background-color .2s ease-in-out, -webkit-transform .2s ease-in-out;
          transition: background-color .2s ease-in-out, -webkit-transform .2s ease-in-out;
          transition: transform .2s ease-in-out, background-color .2s ease-in-out;
          transition: transform .2s ease-in-out, background-color .2s ease-in-out, -webkit-transform .2s ease-in-out;
        }



        @media screen and (max-width: 960px) {
          /*  * {
          box-sizing: inherit;
        }*/

        .pn-ProductNav_WrapperCG {
          position: relative;
          padding: 0 2em 0 2em;
          box-sizing: border-box;
/*          margin-right:3em;
*/
        }

        .pn-ProductNavCG {
          /* Make this scrollable when needed */
          overflow-x: auto;
          /* We don't want vertical scrolling */
          overflow-y: hidden;
          /* For WebKit implementations, provide inertia scrolling */
          -webkit-overflow-scrolling: touch;
          /* We don't want internal inline elements to wrap */
          white-space: nowrap;
          /* If JS present, let's hide the default scrollbar */
          /* positioning context for advancers */
          position: relative;
          
          font-size: 0;
          width:250px;
        }
        .js .pn-ProductNavCG {
          /* Make an auto-hiding scroller for the 3 people using a IE */
          -ms-overflow-style: -ms-autohiding-scrollbar;

          /* Remove the default scrollbar for WebKit implementations */
        }
        .js .pn-ProductNavCG::-webkit-scrollbar {
          display: none;
        }
        .js .pn-ProductNavCG::-webkit-moz-scrollbar {
          display: none;
          overflow: auto;
        }

        .pn-ProductNav_ContentsCG {
          float: left;
          -webkit-transition: -webkit-transform .2s ease-in-out;
          transition: -webkit-transform .2s ease-in-out;
          transition: transform .2s ease-in-out;
          transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
          position: relative;
        }

        .pn-ProductNav_Contents-no-transitionCG {
          -webkit-transition: none;
          transition: none;
        }

        .pn-ProductNav_LinkCG {
          text-decoration: none;
          color: #888;
          font-size: 1.2rem;
          font-family: -apple-system, sans-serif;
          display: -webkit-inline-box;
          display: -ms-inline-flexbox;
          display: inline-flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          min-height: 44px;
          border: 1px solid transparent;
          padding: 0 0em 0 0;

        }
        .pn-ProductNav_LinkCG + .pn-ProductNav_LinkCG {
          /*border-left-color: #eee;*/
        }
        .pn-ProductNav_LinkCG[aria-selected="true"] {
          color: #111;
        }

        .pn-AdvancerCG {
          /* Reset the button */
          -webkit-appearance: none;
             -moz-appearance: none;
                  appearance: none;
          background: transparent;
          padding: 0;
          border: 0;
          /* Now style it as needed */
          position: absolute;
          top: 30%;
          bottom: 70%;
          /* Set the buttons invisible by default */
          opacity: 0;
          -webkit-transition: opacity .3s;
          transition: opacity .3s;
        }
        .pn-AdvancerCG:focus {
          outline: 0;
        }
        .pn-AdvancerCG:hover {
          cursor: pointer;
          background: transparent;
        }

        .pn-Advancer_LeftCG {
          left: -1.3em;

          /*bottom:0;*/
         /* margin-left:-2%;
       */ }
        [data-overflowing="both"] ~ .pn-Advancer_LeftCG, [data-overflowing="left"] ~ .pn-Advancer_LeftCG {
          opacity: 1;
        }

        .pn-Advancer_RightCG {
/*          right: 0;
*/          right: 3em;
/*          bottom:0;
*/         /* margin-right:-1.9em;*/

        }
        [data-overflowing="both"] ~ .pn-Advancer_RightCG, [data-overflowing="right"] ~ .pn-Advancer_RightCG {
          opacity: 1;
        }

        .pn-Advancer_IconCG {
          width: 20px;
          height: 44px;
          fill: #bbb;
        }

        .pn-ProductNav_IndicatorCG {
          position: absolute;
          bottom: 0;
          left: 0;
          height: 4px;
          width: 100px;
          right:50px;
          background-color: transparent;
          -webkit-transform-origin: 0 0;
                  transform-origin: 0 0;
          -webkit-transition: background-color .2s ease-in-out, -webkit-transform .2s ease-in-out;
          transition: background-color .2s ease-in-out, -webkit-transform .2s ease-in-out;
          transition: transform .2s ease-in-out, background-color .2s ease-in-out;
          transition: transform .2s ease-in-out, background-color .2s ease-in-out, -webkit-transform .2s ease-in-out;
        }
        }
